body, input {
	background: var(--bg);
	color: var(--text);

	font-family: "Inter";
	transition: all 0.2s;
}

body {
	margin: 0;
}

:root {
	--bg: #fefefe;
	--bg-1: #fdfdfd;
	--bg-2: #efefef;
	--accent: #008cff;
	--scrollbar: #555;
	--text-light: #333;
	--text: black;
	--error: rgb(255, 203, 203);
	--color-direction: -1;
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--bg: #111;
		--bg-1: #222;
		--bg-2: #444;
		--accent: #75c0f6;
		--scrollbar: #ccc;
		--text: white;
		--text-light: #aaa;
		--error: rgb(236, 68, 68);
		--color-direction: 1;
	}
}

h1 {
	margin: 0;
}

table#game {
	background:var(--bg-2);

	border-collapse:separate;
	border-spacing:0.5rem;
	border: 1px solid lightgray;
	border-radius: 1rem;
}

td {
	padding: 0;
	background:var(--bg-1);
	/* font-size:3rem; */
	/* width: calc(max(2.5ch,4rem)); */
	height: calc(max(3ch,2rem));
	border-radius: .5rem;
	box-sizing: border-box;
}

td:not(:has(div)) {
	padding:1rem;
}

thead td {
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;

	background: hsl(from var(--bg-1) h s calc(l + var(--color-direction) * 3) );
}

div#input-cell {
	height: 100%;
	display: flex;
	width:20ch;
	background: var(--bg-2);
}
input {
	box-sizing: border-box;
	padding:0;
	margin:0;
	height:100%;
	text-align: center;
	color:unset;
	border:none;
	font-size:inherit;

	min-width: unset;
	width:unset;
	border-radius:.5rem;
	width:100%;
	background: var(--bg-1);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border: 1px solid transparent;
}

input:focus {
	outline:none;
	border: 1px solid var(--accent);
}
input:hover {
	border: 1px solid var(--text-light);
	background: hsl(from var(--bg-2) h s calc(l + 10))
}


button {
	background: var(--accent);
	height: 100%;
	margin:0;
	padding:0;
	aspect-ratio: 1;
	font-size:1.25rem;
	border-radius: .5rem;
	border: 1px solid transparent;
	transition: background 0.2s;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

button:hover {
	cursor: pointer;
	background: hsl(from var(--accent) h s calc(l + 10));
	border: 1px solid white;
	
}

div#input-cell {
	position:relative;
}

@keyframes shake {
	0% {
		left:0;
	}
	33% {
		left: -1rem;
	}
	67% {
		left: 1rem;
	}
	100% {
		left: 0
	}
}

div#input-cell[data-error] {
	animation: 0.25s ease 0s shake;
	animation-iteration-count: 1;
}

div#input-cell[data-error] input {
	background: var(--error);
}

div#input-cell[data-error] ::placeholder {
	color: var(--text);
}

div#input-cell[data-error] button {
	background: hsl(from var(--accent) h 0 calc( l - var(--color-direction) * 30 ));

	cursor:not-allowed;
}

div.gameContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	height: 100vh;
	width: 100%;
	max-width:100%;
	padding-block:4rem;

	box-sizing: border-box;
	overflow:hidden;
}

sub {
	font-style: italic;
	font-weight:lighter;
	font-size:0.5rem;
	color: var(--text-light);
	text-wrap-mode: nowrap;
}

sub::before {
	content:"("
}

sub::after {
	content: ")"
}

div#bro {
	max-width: 100%;
	overflow: scroll;
	padding-bottom:1px;
}

div#bro::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 8px;
	height: 8px;
}

div#bro::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background:var(--scrollbar);
	border: 1px solid transparent;
}

div#bro::-webkit-scrollbar-thumb:hover {
	background: hsl(from var(--scrollbar) h s calc(l + var(--color-direction) * 10));
	border: 1px solid hsl(from var(--scrollbar) h s calc(l + var(--color-direction) * 20));
}

.gameContainer>div.top {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom:1rem;
}